# dependencies
node_modules/
apps/*/node_modules/
packages/*/node_modules/

# Next / build
.next/
out/
dist/
coverage/

# env
.env
.env.local
.env.example
.env.*.local
apps/*/.env
apps/*/.env.example
apps/*/.env.local
apps/*/.env.local.example

# Python
.venv/
__pycache__/
*.pyc

# uploads
apps/dashboard/public/uploads/

# Prisma generated client
packages/db/generated/

# Turborepo cache
.turbo/

# OS/editor
.DS_Store
.vscode/

# logs
*.log
npm-debug.log*
pnpm-debug.log*